node_modules/
.env

# Opcional: ignores comuns
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar pastas de migrations geradas pelo Prisma, se preferir
prisma/migrations/

/generated/